/X/.vs
/X/NewLife.Core/obj
/X/NewLife.Cube/Bin
/X/NewLife.Cube/obj
/X/NewLife.MQ/obj
/X/NewLife.Net/obj
/X/packages
/X/Test/obj
/X/XCode/obj
/X/XCoder/obj
/X/XTemplate/obj
/X/Data
/X/Log
/X/NewLife.Cube/Config
/X/NewLife.Cube/Plugins
/XCoder/Log
/XCoder/Output
/Bin
/Bin4
/Test
/XCoder
*.user
*.log
*.config
*.htm