<?xml version="1.0" encoding="utf-8"?>
<ModelConfig>
  <!--链接名-->
  <ConnName>MyDevSql9.175</ConnName>
  <!--命名空间-->
  <NameSpace>App.DAL</NameSpace>
  <!--模板名-->
  <TemplateName>[内置]CS实体</TemplateName>
  <!--输出目录-->
  <OutputPath>Output</OutputPath>
  <!--是否覆盖目标文件-->
  <Override>true</Override>
  <!--实体链接名-->
  <EntityConnName>MyConnName</EntityConnName>
  <!--实体基类-->
  <BaseClass>Entity</BaseClass>
  <!--生成泛型实体类-->
  <RenderGenEntity>false</RenderGenEntity>
  <!--使用中文文件名-->
  <UseCNFileName>false</UseCNFileName>
  <!--使用头部模版-->
  <UseHeadTemplate>true</UseHeadTemplate>
  <!--头部模版-->
  <HeadTemplate>/*
 * XCoder v&lt;#=Version#&gt;
 * 作者：&lt;#=Environment.UserName + "/" + Environment.MachineName#&gt;
 * 时间：&lt;#=DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")#&gt;
 * 版权：hardCTE 2016~&lt;#=DateTime.Now.ToString("yyyy")#&gt;
*/
</HeadTemplate>
  <!--调试-->
  <Debug>true</Debug>
  <!--数据字典-->
  <Items />
</ModelConfig>