<?xml version="1.0" encoding="utf-8"?>
<XConfig>
  <!--标题-->
  <Title>新生命超级码神工具</Title>
  <!--宽度-->
  <Width>800</Width>
  <!--高度-->
  <Height>641</Height>
  <!--顶部-->
  <Top>192</Top>
  <!--左边-->
  <Left>306</Left>
  <!--日志着色-->
  <ColorLog>false</ColorLog>
  <!--更新服务器-->
  <UpdateServer>ftp://ftp.newlifex.com/x/</UpdateServer>
  <!--最后更新时间-->
  <LastUpdate>2016-11-14T10:12:43.0106322+08:00</LastUpdate>
  <!--最后一个使用的工具-->
  <LastTool>XCoder.FrmMain</LastTool>
</XConfig>